/*---------------------- RESET CSS ------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, del, ins {
  text-decoration: none;
}
a {	
  color: inherit;
}
label, button {
  cursor: pointer;
}
h1,h2,h3 {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box
}
*::before, *::after {
  box-sizing: inherit
}
input, button {
  outline: 0;
}
img {
  display: block;
  max-width: 100%;
}


/*---------------------- STYLES ------------------------*/
/* GLOBAL */
@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=Raleway:ital,wght@0,700;1,400&display=swap');

body {
  font-family: 'Raleway', sans-serif;
}

p {
  line-height: 2.5rem;
}

.main {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;
  min-height: 100vh;
  width: 100%; 
}

/* -------------- */
/* LEFT WRAPPER */
.lefty, .righty {
  width: 50%;
}

.lefty {
  background: url(../images/nicole.jpg) no-repeat 100% center;
  background-size: cover;
  min-height: inherit;
  position: relative;
  height: auto;
}

.lefty__header {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 4rem 0 0 2rem;
}

.lefty__logo {
  margin-right: 2rem;
}

.lefty__title {
  color: white;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 300px;
  word-wrap: break-word;
}

/* Headband */
.headband {
  position: relative;
  background-color: rgba(249, 249, 249, 0.2);
  color: white;
  padding: 4rem 3.5rem;
  text-align: right;
  width: 90%;
  margin: 0 auto;
  top: 40%;
  transform: translateY(-50%);
}

/* Text shadow on white elements */
.headband__title, .headband__subtitle, .headband__content, .nav__link {
  text-shadow: 1px 1px 2px rgb(119, 119, 119);
}

.headband__title {
  font-size: 3.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.headband__subtitle {
  font-weight: 400;
  font-size: 1.6rem;
  font-style: italic;
}

.headband__content {
  width: 70%;
  margin-left: 30%;
}

/* Nav bar */
.nav {
  position: absolute;
  bottom: 2rem;
  color: white;
  width: 100%;
  right: 0;
}

.nav__list-item {
  padding: 0 1rem;
  width: 155px;
  text-align: center;
}

.nav__list {
  display: flex;
  justify-content: flex-end;
}

.nav__link:hover {
  text-decoration: underline;
  font-weight: 700;
  color: #0766F0;
}

/* -------------- */
/* RIGHTY WRAPPER */
.righty__title {

}

.articles {

}

.article {
  
}







/* Transitions for everybody */
.nav__link {
  transition: all 0.3s ease-in;
}

.nav__link:hover {
  transition: all 0.2s ease-out;
}