/*---------------------- IMPORT AND VARIABLES ------------------------*/
@import url('font.css');

:root {
  /*
    syntaxe :
     - déclaration : --ma-variable: valeur;
     - utilisation : `propriété: var(--ma-variable);`
  */
  --color-lightest: #fff;
  --color-default: #212529;
  --color-gray: #666;
  --color-blue: #0766f0;
  --color-dblue: #0056b3;
  --color-green: #98dc62;
  --color-red: #dc5e53;
  
  --bg-main: #f9f9f9;

  --border-article: #eaeaea;

  --font-sans: 'Poppins', sans-serif;
  --font-size-tiny: 1.4rem;
  --font-size-default: 1.6rem;
  --font-size-big: 1.6rem;

  --font-bold: 700;

  /* utile pour notamment les espacements (margin, padding) */
  --gutter: 3rem;
  --gutter-bigger: 4rem 3.5rem;
}

/*---------------------- RESET CSS ------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}
html {
  font-size: 62.5%;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote::before, blockquote::after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a, del, ins {
  text-decoration: none;
}
a {	
  color: inherit;
}
label, button {
  cursor: pointer;
}
h1,h2,h3 {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box
}
*::before, *::after {
  box-sizing: inherit
}
input, button {
  outline: 0;
}
img {
  display: block;
  max-width: 100%;
}

/*---------------------- STYLES ------------------------*/
/* GLOBAL */
body {
  display: flex;
  font-family: var(--font-sans);
  font-size: var(--font-size-default);
  height: 100vh;
  overflow: hidden;
}

strong {
  font-weight: var(--font-bold);
}

h3, p {
  color: var(--color-default);
}

p {
  line-height: 2.5rem;
}

.header, .main {
  width: 50vw;
}

/* -------------- */
/* LEFT RIGHTY WRAPPER */
.header {
  background: url(../images/nicole.jpg) no-repeat left;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__top {
  display: flex;
  align-items: flex-start;
  margin: 4rem 0 0 3.5rem;
  color: var(--color-lightest);
}

.header__logo {
  margin-right: 1.5rem;
}

.header__title {
  font-size: 3.5rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  width: 1px;
}

/* Headband */
.header__headband {
  background-color: rgba(249, 249, 249, 0.2);
  padding: var(--gutter-bigger);
  text-align: right;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 4px 9px 0px rgb(0 0 0 / 17%);
}

/* Text shadow on white elements */
.header__headband-title, .header__headband-subtitle, .header__headband-description {
  text-shadow: 1px 1px 1px rgb(0 0 0 / 72%);
}

.header__headband-title {
  color: var(--color-lightest);
  font-size: 3.2rem;
  font-weight: var(--font-bold);
  margin-bottom: 2rem;
}

.header__headband-subtitle {
  font-weight: 400;
  font-size: var(--font-size-default);
  font-style: italic;
}

.header__headband-description {
  color: var(--color-lightest);
  width: 70%;
  margin-left: 30%;
}

/* Nav bar */
.header__nav {
  margin: 0 0 1rem auto;
  background-color: var(--color-lightest);
  border-radius: 5px 0 0 5px;
  box-shadow: 0 3px 8px -4px black;
}

.header__nav-list {
  display: flex;
  justify-content: flex-end;
}

.header__nav-item {
  width: 155px;
  text-align: center;
}

.header__nav-link {
  display: inline-block;
  padding: 15px 0;
  font-weight: 600;
}

.header__nav-link:hover {
  text-decoration: underline;
  color: #0766F0;
}

/* -------------- */
/* MAIN RIGHTY WRAPPER */
.main {
  background-color: var(--bg-main);
  overflow-y: scroll;
  overflow-x: hidden;
}

.main__title {
  font-size: 3.9rem;
  font-weight: 900;
  padding: var(--gutter);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.articles {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.article {
  border: 1px solid #EAEAEA;
  min-height: 480px;
  padding: calc(var(--gutter) * 1.5);
  width: 50%;
  background-color: var(--color-lightest);
}

.article__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.article__tags {
  order: -1;
}

.article__tag {
  color: var(--color-lightest);
  font-size: var(--font-size-tiny);
  line-height: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--color-gray);
  letter-spacing: 1px;
}

.article__tag--news {
  background-color: var(--color-green);
}

.article__tag--team {
  background-color: var(--color-red);
}

.article__tag--work {
  background-color: var(--color-blue);
}

.article__title {
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 600;
  margin: 3rem 0 2rem 0;
}

.article__infos {
  display: flex;
  align-items: center;
}

.article__author-avatar {
  margin-right: 1.5rem;
}

.article__author {
  font-size: var(--font-size-tiny);
  font-weight: var(--font-bold);
  margin-right: 0.5rem;
}

.article__date {
  color: var(--color-gray);
  font-size: 1.2rem;
}

.article__content {
  overflow: hidden;
  height: 17rem;
}

.article__footer {
  margin-top: var(--gutter);
}

.article__link {
  color: var(--color-blue);
  text-decoration: underline;
  font-weight: var(--font-bold);
}

.article__link:hover {
  text-decoration: none;
  color: var(--color-dblue);
}

/* Transitions for everybody */
.nav__link {
  transition: all 0.3s ease-in;
}

.nav__link:hover {
  transition: all 0.2s ease-out;
}